.gradle
/local.properties
.DS_Store

/gen
/bin
.idea
*.iml
*.ipr
*.iws

target/
nbproject/private/
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

*.com
*.dll
*.exe
*.o
*.so
*.apk

*.pydevproject
.project
.metadata

*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

.classpath
.settings/
.loadpath

